<div class="cadastro-jogos-container">
  <div class="logo-container">
    <img src="C:\Users\55139\gestao-spy-ui\src\app\assets\football-club-team-emblem-soccer-badge-shield-logo-football-team-game-club-shield-background-free-vector.jpg" alt="spy-logo">
  </div>

  <h2>CADASTRO DE JOGOS</h2>
  <div class="form-container">

    <form (ngSubmit) ="create()" class="form">

      <div class="form-group">
        <label for="time" class="form-label">Adversário</label>
        <input type="text" id="time" [(ngModel)]="jogo.time" name="time" placeholder="Nome do adversário" class="form-input" required>
      </div>

      <div class="form-group">
        <label for="local" class="form-label">Campo</label>
        <input type="text" id="local" [(ngModel)]="jogo.local" name="local" placeholder="Local do jogo" class="form-input" required>
      </div>

      <div class="form-group">
        <label for="data" class="form-label">Data</label>
        <input type="text" id="data" [(ngModel)]="jogo.data" name="data" class="form-input" placeholder="Data do jogo" required>
      </div>

      <button type="submit" class="btn-submit">Salvar</button>

    </form>

  </div>

</div>
