<div class="col-sm-12 cadastro-container">
  <h2>CADASTRO DE JOGADOR</h2>
  <form (ngSubmit)="create()">
    <div class="form-group">
      <label class="nome" for="nome">NOME</label>
      <input type="text" id="nome" [(ngModel)]="jogador.nome" name="nome" required />
    </div>
    <div class="form-group">
      <label class="posicao" for="posicao">POSIÇÃO</label>
      <input type="text" id="posicao" [(ngModel)]="jogador.posicao" name="posicao" required />
    </div>
    <div class="form-group">
      <label class="idade" for="idade">IDADE</label>
      <input type="text" id="idade" [(ngModel)]="jogador.idade" name="idade" required />
    </div>

    <button type="submit">SALVAR</button>
  </form>
</div>
