<div class="list-container" *ngIf="listaDeJogos.length > 0; else null">

  <div class="box-container">
    <ul>
    <li *ngFor="let jogo of listaDeJogos">
      <div class="jogo-info">
        <strong>Adversário:</strong> {{ jogo.time }} <br>
        <strong>Local:</strong> {{ jogo.local }} <br>
        <strong>Data:</strong> {{ jogo.data  }} <br>
      </div>
      <div class="jogo-acoes">
        <button (click)="update (jogo)">Editar</button>
        <button (click)="delete (jogo.id)">Deletar</button>
      </div>
    </li>
  </ul>
</div>

</div>
