<div class="list-container" *ngIf="listaDeJogos.length > 0; else null">

  <div class="box-container">
    <ul>
    <li *ngFor="let jogo of listaDeJogos">
      <div class="jogo-info">
        <strong>Adversário:</strong> {{ jogo.time }} <br>
        <strong>Local:</strong> {{ jogo.local }} <br>
        <strong>Data:</strong> {{ jogo.data  }} <br>
        <strong>Hora:</strong> {{ jogo.hora }} <br>
      </div>
      <div>
        <button class="btn-acao" (click)="viewDetails(jogo.id)">Ver Detalhes</button>
      </div>
    </li>
    </ul>

    <div class="btn-group">
      <button class="btn-menu" (click)="navMenu('/menu')"> MENU </button>
      <button class="btn-menu" (click)="navCadastro('/cadastro/jogos')"> ADICIONAR JOGO </button>
    </div>

  </div>

</div>
