<div class="login-container">

  <h2>autentique-se</h2>
  <form (ngSubmit)="logar()">
    <div class="form-group">
      <label for="username">USUÁRIO</label>
      <input type="text" id="username" [(ngModel)]="login.username" name="username" required />
    </div>
    <div class="form-group">
      <label for="password">SENHA</label>
      <input type="password" id="password" [(ngModel)]="login.password" name="password" required />
    </div>
    <button type="submit">ENTRAR</button>
  </form>
</div>
