<div class="container">
  <div class="logo-container">
    <img src="logo.png" alt="Logo" class="logo">
  </div>

  <div class="cadastro-container">
    
    <div class="info">
      <h1>Criar Conta</h1>
      <h3>Já é um membro? <a href="/login"><b>Login</b></a></h3>
    </div>

    <form class="form-container" (ngSubmit)="cadastrar()" onsubmit="return false;">
      <div class="form-group">
        <label for="username">Nome completo</label>
        <input type="text" id="username" class="input-field" placeholder="Nome de Usuário" required [(ngModel)]="usuario.username" name="username">
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" class="input-field" placeholder="Email" required [(ngModel)]="usuario.email" name="email">
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" class="input-field" placeholder="Senha" required [(ngModel)]="usuario.password" name="password">
      </div>

      <button class="btn" type="submit">Cadastrar</button>
    </form>
  </div>
</div>
