
  <div class="logo-container"></div>

  <div class="cadastro-container">

    <div class="info">
      <h1><b>Criar Conta</b></h1>
      <h3>Já é um membro?  <a href="/login"><b>Login</b></a> </h3>
    </div>

    <form class="form-container" (ngSubmit)="cadastrar()" onsubmit="return false;">

      <div class="form-group">
        <p>Nome completo</p>
        <label for="nome" class="form-label"></label>
        <input type="text" class="username" placeholder="Nome de Usuário" required [(ngModel)]="usuario.username" name="username">
      </div>

      <div class="form-group">
        <p>E-mail</p>
        <label for="email" class="form-label"></label>
        <input type="text" class="email" placeholder="Email" required [(ngModel)]="usuario.email" name="email">
      </div>

      <div class="form-group">
        <p>Senha</p>
        <label for="senha" class="form-label"></label>
        <input type="text" class="password" placeholder="Senha" required [(ngModel)]="usuario.password" name="password">
      </div>


      <button class="btn" type="submit">Cadastrar</button>
    </form>
  </div>




